page-convertMeasurements {
    .center-equal {
        text-align: center;
        font-size: 30px;
    }

    .left-after-convert-value {
        text-align: center;
        font-size: 30px;
    }
}
